body {
    margin: 0;
    padding: 0;
    font-family: "Playfair Display", serif;
    font-weight: 400;
}

.navbar-brand img {
    height: 30px;
    /* Ajusta la altura según sea necesario */
    width: auto;
    /* Mantiene la proporción de la imagen */
    margin-right: 10px;
    /* Espacio entre la imagen y el texto */
}

.navbar-nav .nav-link {
    color: rgba(255, 255, 255, 0.7);
    /* Blanco débil */
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
    /* Sombra suave para mejorar la legibilidad */
}

.navbar-nav .nav-link.active {
    font-weight: bold;
    /* Texto en negrita para el enlace activo */
    color: #007bff;
    /* Color azul para el enlace activo */
}

/* CSS para aplicar la fuente a la marca "Viajes Chile" */
.navbar-brand {
    font-family: 'Lobster', cursive;
    /* Usando la fuente Lobster para la marca */
    font-size: 1.5rem;
    /* Tamaño de fuente personalizado */
    color: white;
    /* Color de texto */
    text-decoration: none;
    /* Quitar subrayado del enlace */
}

body {
    background-color: #000;
    /* Fondo negro para todo el cuerpo */
    color: #fff;
    /* Color de texto blanco para visibilidad */
}

/* Formato para los box de quienes somos */
.custom-box {
    background-color: #007bff;
    padding: 15px;
    border-radius: 5px;
    text-align: center;
    /* Centra el contenido dentro del rectángulo */
    color: #fff;
    /* Color del texto */
}

/* Formato para el circulo del icono */
.custom-box .icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    background-color: #fff;
    /* Color de fondo del círculo del ícono */
    border-radius: 50%;
    /* Hace que el círculo del ícono sea redondeado */
    margin: 0 auto;
    /* Centra el ícono dentro del rectángulo */
}

/* Formato para el icono */
.custom-box .icon i {
    font-size: 24px;
    /* Tamaño del ícono */
    color: #007bff;
    /* Color del ícono */
}

/* Formato para los parrafos dentro del custom-box */
.custom-box+p {
    margin-top: 15px;
    /* Espacio superior al párrafo */
    text-align: left;
    /* Alinea el párrafo a la izquierda */
}

/* Formato para las cards */
.card {
    background-color: #1e1e1e;
    /* Fondo oscuro para las tarjetas */
    color: #fff;
    /* Color del texto dentro de las tarjetas */
}

/* Transicion suave para las cards */
.card {
    transition: transform 0.3s ease;
    /* Transición suave de 0.3 segundos */
}

/* Al hacer click aumneta el tamaño de la imagen */
.card.card-clicked {
    transform: scale(1.1);
    /* Aumentar el tamaño al 110% */
}

/* Estilo para la sección contacto */
.contact-section {
    height: 50%;
    background-color: #1e1e1e;
}

/* Estilo para el formulario */
.form-container {
    max-width: 600px;
    background-color: #1e1e1e;
    border-radius: 8px;
    padding: 20px;
    width: 100%;
}

/* Estilo para H2 */
.form-container h2 {
    color: #ffffff;

}

/* Color del label */
.form-container .form-label {
    color: #ffffff;
}

/* Color de fondo y texto de los form-control */
.form-container .form-control {
    background-color: #ffffff;
    color: #1e1e1e;
}

/* Estilo para el footer */
.footer {
    background-color: #007bff;
    color: #fff;
    height: 100px;
    /* Ajusta la altura según sea necesario */
    font-family: 'Lobster', cursive;
    /* Usando la fuente Lobster para la marca */
    font-size: 24px;
}

/* Alineación de los iconos */
.social-icons {
    text-align: right;
    /* Alinea los iconos a la derecha */
}

/* Tamaño y color de los iconos */
.social-icons i {
    font-size: 1.5rem;
    color: #fff;
}

/* Estilos para el contenedor de indicadores del carrusel */
.indicadores-carousel {
    list-style: none;
    /* Elimina los estilos de lista predeterminados */
    padding: 0;
    /* Elimina el relleno interior */
    display: flex;
    /* Usa un contenedor flexible para los indicadores */
    justify-content: center;
    /* Centra los indicadores horizontalmente */
    margin-top: 1rem;
    /* Ajusta el margen superior */
}

/* Estilos para cada indicador individual */
.indicadores-carousel .indicador {
    width: 10px;
    /* Ancho del indicador */
    height: 10px;
    /* Altura del indicador */
    background-color: #ccc;
    /* Color de fondo predeterminado */
    border-radius: 50%;
    /* Forma circular */
    margin: 0 5px;
    /* Margen horizontal entre indicadores */
    cursor: pointer;
    /* Cambia el cursor al pasar sobre el indicador */
    transition: background-color 0.3s ease;
    /* Transición suave para el cambio de color de fondo */
}

/* Estilos para el indicador activo */
.indicadores-carousel .indicador.activo {
    background-color: #333;
    /* Color de fondo cuando el indicador está activo */
}