
body {
    margin: 0;
    padding: 0;  
    font-family: 'Cabin', sans-serif; 
    font-weight: 400; 
}
.navbar-brand img {
    height: 30px;
    /* Puedes ajustar la altura según sea necesario */
    width: auto;
    /* Mantiene la proporción de la imagen */
    margin-right: 10px;
    /* Espacio entre la imagen y el texto */
}
.navbar-nav .nav-link {
    color: rgba(255, 255, 255, 0.7); /* Blanco débil */
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5); /* Sombra suave para mejorar la legibilidad */
    /* Otros estilos si los necesitas */
}

.navbar-nav .nav-link.active {
    font-weight: bold; /* Texto en negrita para el enlace activo */
    color: #007bff; /* Color azul para el enlace activo */
}

body {
    background-color: #000;
    /* Fondo negro para todo el cuerpo */
    color: #fff;
    /* Color de texto blanco para visibilidad */
}

.custom-box {
    background-color: #007bff;
    padding: 15px;
    border-radius: 5px;
    text-align: center;
    /* Centra el contenido dentro del rectángulo */
    color: #fff;
    /* Color del texto */
}

.custom-box .icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    background-color: #fff;
    /* Color de fondo del círculo del ícono */
    border-radius: 50%;
    /* Hace que el círculo del ícono sea redondeado */
    margin: 0 auto;
    /* Centra el ícono dentro del rectángulo */
}

.custom-box .icon i {
    font-size: 24px;
    /* Tamaño del ícono */
    color: #007bff;
    /* Color del ícono */
}

.custom-box+p {
    margin-top: 15px;
    /* Espacio superior al párrafo */
    text-align: left;
    /* Alinea el párrafo a la izquierda */
}

.card {
    background-color: #1e1e1e;
    /* Fondo oscuro para las tarjetas */
    color: #fff;
    /* Color del texto dentro de las tarjetas */
}

.contact-section {
    height: 50vh;
    background-color: #1e1e1e;
}

.form-container {
    max-width: 600px;
    background-color: #1e1e1e;
    border-radius: 8px;
    padding: 20px;
    width: 100%;
}

.form-container h2 {
    color: #ffffff;
}

.form-container .form-label {
    color: #ffffff;
}

.form-container .form-control {
    background-color: #ffffff;
    color: #1e1e1e;
}


.footer {
    background-color: #007bff;
    color: #fff;
    height: 100px; /* Ajusta la altura según sea necesario */
    /*display: flex;
    /*align-items: center; /* Centra verticalmente el contenido */
}

.social-icons {
    text-align: right; /* Alinea los iconos a la derecha */
}

.social-icons i {
    font-size: 1.5rem;
    color: #fff;
}

